<!DOCTYPE html>
<html lang="lb">
<head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="../ddk_lod_project/lod.css" media="screen">
    <script
			  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
			  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
			  crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#toggle').addEventListener('click', function() {
                document.querySelector('html').classList.toggle('apple_client-panel')
            }, false)
        })
    </script>
</head>
<body>
    <main>
        <button id="toggle">Toggle panel mode</button>
    <% allArticles.forEach(article => { %>
        <div id="<%= article.id %>" lang="lb">
            <%- article.desc %>
            <p class="lod_article">Definitioun op lod.lu: <a href="https://www.lod.lu/?<%= article.id %>"><%= article.title %></a></p>
        </div>
    <% }) %>
    </main>    
</body>
</html>
